.vscode
*.tsbuildinfo

/.yarn/*

!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks

# Swap the comments on the following lines if you wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
# !/.yarn/cache
/.pnp.*

# Logs
logs/
*.log

# Cache
.eslintcache
.idea
.npm
.vscode
.yarnclean

# Directories
coverage/
dist/
dts/
esm/
mjs/
cjs/
node_modules/

# Custom
*.min.js
*.map

.DS_Store
*.local
